:where(body.photoWithCaption) {
	--accecnt-color: #9ac222;
	--text-color: var(--stone-1);
	--bkg-color: 234, 234, 234;

	background: rgb(var(--bkg-color));
	color: var(--text-color);
}

.photoWithCaption {
	.hg {
		height: 100lvh;
		margin: 0 0 var(--size-fluid-4);
		padding: var(--size-fluid-2);
		position: relative;
		z-index: 1;
	}
	.hg_d {
		color: var(--stone-5);
		display: inline-block;
		font-size: var(--font-size-fluid-0);
		opacity: 0.8;
		padding: var(--size-fluid-1);
		position: absolute;
		top: calc(var(--size-fluid-1) - 0.25em);
		left: var(--size-fluid-6);
	}
	.hg_m {
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 90%;
	}
	.hg_e {
		display: inline-block;
		font-size: var(--font-size-fluid-0);
		line-height: var(--font-lineheight-0);
		rotate: 90deg;
		position: absolute;
		transform-origin: left bottom;
		top: 50%;
		left: calc(var(--size-fluid-1) + 0.25em);
	}
	.hg_t {
		font-size: var(--font-size-fluid-1);
		writing-mode: vertical-rl;
		font-feature-settings: 'vpal';
		position: absolute;
		top: var(--size-fluid-7);
		left: 0.25em;
	}
	.hg_l {
		display: none;
		font-size: var(--font-size-fluid-1);
		width: 100%;
		position: absolute;
		bottom: 0%;
		left: 0;
	}
	.hg_c {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		font-size: var(--font-size-fluid-00);
		padding: var(--size-fluid-2);
		position: absolute;
		bottom: 0%;
		left: 0;
	}
	.article_img {
		position: absolute;
		top: var(--size-fluid-2);
		left: var(--size-fluid-2);
		height: calc(100svh - var(--size-fluid-2) * 2);
		width: calc(100vw - (var(--size-fluid-2) * 2));
		z-index: -1;
	}
	.article_img img {
		height: 100%;
		object-fit: cover;
		vertical-align: top;
		width: 100%;
	}

	article {
		height: calc(100lvh + var(--size-fluid-4));
		position: relative;
	}

	.prose {
		padding: 0 var(--size-fluid-2) var(--size-fluid-5);
		position: absolute;
		bottom: var(--size-fluid-2);
		right: var(--size-fluid-2);
		width: var(--size-fluid-8);
	}
}
