@theme {
  --text-xxs: 0.625rem;
}

.text-vertical {
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
  p {
    text-align: justify;
  }
}
.ponShelf  {
  height: 16rem;
  display: flex;
  flex-direction: column;
}
.ponShelf-m {
  height: 13rem;
}
.ponShelf-s {
  height: 12rem;
}