@theme {
  --text-xxs: 0.625rem;
}

.text-vertical {
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
  line-break: normal;
  hanging-punctuation: allow-end;
  p {
    text-align: justify;
  }
  p:first-child {
    text-indent: 1em;
  }
  em {
    font-style: normal;
    text-combine-upright: all;
    -webkit-text-combine: all;
  }
  blockquote {
    border: none;
    font-size: theme('fontSize.base');
    color: theme('colors.stone.700');
  }
}
.ponShelf  {
  height: 16rem;
  display: flex;
  flex-direction: column;
}
.ponShelf-m {
  height: 13rem;
}
.ponShelf-s {
  height: 12rem;
}
.ponShelf-long  {
  height: 32rem;
}