---
const { book } = Astro.props;

import BookCover from './BookCover.astro';
import Logo from './Logo.astro';
---

<div class={`
  ponShelf px-2 py-4
  text-vertical 
  border-b border-neutral-300
  w-full
  overflow-x-auto overflow-y-hidden
  items-center gap-2`}>
  <Logo />
  <div class={`text-sm`}>
    <slot />
  </div>
  <BookCover isbn={book.data.isbn} title={book.data.title} />
</div>