---
const { num } = Astro.props;

import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class={`mx-2 border-b border-neutral-300`}>
	<nav class={`flex justify-between text-xs text-center pb-2`}>
		<p class={`w-18`}>蔵書 {num}冊</p>
		<p class={`items-center`}>2025年2月10日（月）</p>
		<p class={`w-18`}>《毎日更新》</p>
	</nav>
</header>