---
const { theme, date = new Date() } = Astro.props;

import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const d = new Date(date);
const formattedDate = d.toLocaleDateString('ja-jp', {
			year: 'numeric',
			month: 'short',
			day: 'numeric',
			weekday: 'short',
		});
---

<header class={`mx-2 border-b border-neutral-300`}>
	<nav class={`flex justify-between text-xs text-center py-2`}>
		<p class={`w-18`}>{theme}</p>
		{date != "" &&
			<p class={`items-center ml-6`}>{formattedDate}</p>
			<p class={`w-18`}>《毎日更新》</p>
		}
	</nav>
</header>