:where(body.clear) {
  --accecnt-color: #9ac222;
  --text-color: var(--stone-10);
  --bkg-color: 240, 240, 240;
  background: rgb(var(--bkg-color));
  color: var(--text-color);
}

.clear .hg {
  color: var(--stone-1);
  display: flex;
  flex-direction: column;
  height: var(--height-fluid-11);
  margin: 0 0 var(--size-fluid-4);
  position: relative;
  z-index: 1;
}
.clear .hg_d {
  font-size: var(--font-size-fluid-1);
  opacity: 0.5;
  padding: var(--size-fluid-1);
}
.clear .hg_m {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: var(--height-fluid-6);
  margin: var(--size-fluid-6) 0;
  width: 70%;
}
.clear .hg_t {
  align-items: center;
  display: flex;
  font-size: var(--font-size-fluid-4);
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
}
.clear .hg_l {
  font-size: var(--font-size-fluid-1);
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
  white-space: pre-wrap;
}
.clear .hg_c {
  align-items: flex-end;
  color: rgb(var(--bkg-color));
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-fluid-00);
  padding: var(--size-fluid-2);
}
.clear .article_img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.clear .article_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.clear .prose {
  background: rgba(var(--bkg-color), 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: var(--size-fluid-6) 0;
}

:where(body.stone) {
  --accecnt-color: #9ac222;
  --text-color: var(--stone-2);
  --bkg-color: 117, 103, 95;
  background: rgb(var(--bkg-color));
  color: var(--text-color);
}

.stone .hg {
  display: flex;
  flex-direction: column;
  height: var(--height-fluid-11);
  margin: 0 0 var(--size-fluid-4);
  position: relative;
  z-index: 1;
}
.stone .hg_d {
  font-size: var(--font-size-fluid-1);
  opacity: 0.5;
  padding: var(--size-fluid-1);
}
.stone .hg_m {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: var(--height-fluid-6);
  margin: var(--size-fluid-6) 0;
  width: 70%;
}
.stone .hg_t {
  align-items: center;
  display: flex;
  font-size: var(--font-size-fluid-4);
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
}
.stone .hg_l {
  font-size: var(--font-size-fluid-1);
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
  white-space: pre-wrap;
}
.stone .hg_c {
  align-items: flex-end;
  color: rgb(var(--bkg-color));
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-fluid-00);
  padding: var(--size-fluid-2);
}
.stone .article_img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.stone .article_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.stone .prose {
  background: rgba(var(--bkg-color), 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: var(--size-fluid-6) 0;
}

:where(body.framed) {
  --accecnt-color: #9ac222;
  --text-color: var(--stone-9);
  --bkg-color: 234, 234, 234;
  background: rgb(var(--bkg-color));
  color: var(--text-color);
}

.framed .hg {
  color: var(--stone-2);
  display: flex;
  flex-direction: column;
  height: var(--height-fluid-10);
  margin: 0 0 var(--size-fluid-4);
  padding: var(--size-fluid-2);
  position: relative;
  z-index: 1;
}
.framed .hg_d {
  color: var(--stone-5);
  font-size: var(--font-size-fluid-1);
  opacity: 0.5;
  padding: var(--size-fluid-1);
}
.framed .hg_m {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: var(--height-fluid-6);
  margin: var(--size-fluid-6) 0;
  padding: var(--size-fluid-5) var(--size-fluid-2) 0;
  width: 90%;
}
.framed .hg_e {
  font-size: var(--font-size-fluid-4);
  line-height: var(--font-lineheight-0);
}
.framed .hg_t {
  align-items: center;
  display: flex;
  font-size: var(--font-size-fluid-2);
}
.framed .hg_l {
  font-size: var(--font-size-fluid-1);
  white-space: pre-wrap;
}
.framed .hg_c {
  align-items: flex-start;
  color: rgb(var(--bkg-color));
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-fluid-00);
  padding: var(--size-fluid-2);
}
.framed .article_img {
  position: absolute;
  top: var(--size-fluid-2);
  left: var(--size-fluid-2);
  height: calc(95vh - var(--size-fluid-2) * 2);
  width: calc(100vw - var(--size-fluid-2) * 2);
  z-index: -1;
}
.framed .article_img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.framed .prose {
  background: rgba(var(--bkg-color), 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: var(--size-fluid-6) 0;
}

:where(body.card) {
  --accecnt-color: #9ac222;
  --text-color: var(--stone-9);
  --bkg-color: 234, 234, 234;
  background: rgb(var(--bkg-color));
  color: var(--text-color);
}

.card .hg {
  height: var(--height-fluid-9);
  margin: 0 0 var(--size-fluid-4);
  padding: var(--size-fluid-2) var(--size-fluid-2) var(--size-fluid-5);
  position: relative;
  z-index: 1;
}
.card .hg_d {
  color: var(--stone-5);
  display: inline-block;
  font-size: var(--font-size-fluid-0);
  opacity: 0.8;
  padding: var(--size-fluid-1);
  position: absolute;
  top: var(--size-fluid-1);
  left: var(--size-fluid-6);
}
.card .hg_m {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 90%;
}
.card .hg_e {
  display: inline-block;
  font-size: var(--font-size-fluid-0);
  line-height: var(--font-lineheight-0);
  rotate: 90deg;
  position: absolute;
  transform-origin: left bottom;
  top: 50%;
  left: var(--size-fluid-1);
}
.card .hg_t {
  font-size: var(--font-size-fluid-1);
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
  position: absolute;
  top: var(--size-fluid-5);
  left: 0;
}
.card .hg_l {
  display: inline-block;
  font-size: var(--font-size-fluid-1);
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
}
.card .hg_c {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-fluid-00);
  padding: var(--size-fluid-2);
  position: absolute;
  bottom: 5%;
  right: 0;
}
.card .article_img {
  position: absolute;
  top: var(--size-fluid-4);
  left: var(--size-fluid-5);
  height: calc(70ch - var(--size-fluid-4) * 2);
  width: calc(100cw - var(--size-fluid-4) - var(--size-fluid-2));
  z-index: -1;
}
.card .article_img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 100%;
}
.card .prose {
  padding: 0 var(--size-fluid-2) var(--size-fluid-6);
}

.tags {
  display: none;
}/*# sourceMappingURL=colorThemes.css.map */